/* Allgemeine Stile */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    padding-bottom: 60px;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}

/* Container und Spalten für die Task Board Seite */
.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.column {
    flex: 1;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.column h2 {
    text-align: center;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    margin: 0 -10px 20px;
}

/* Button zum Erstellen einer neuen Aufgabe */

.add-task-button {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.add-task-button button {
    padding: 15px 30px;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.add-task-button button:hover {
    background-color: #45a049;
}
