/* Allgemeine Stile */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    padding-bottom: 60px;
    /* Füge PLatz für footer hinzu*/
}

/* Header */
#header {
    background-color: #2b3a67;
    color: white;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

#header h1 {
    margin: 0;
    font-size: 2.5rem;
    letter-spacing: 1.2px;
}

/* Navigationsleiste */
nav {
    background-color: #02003bdd;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
}

nav ul li a:hover {
    background-color: #575757;
    transition: 0.3s;
}

/* Container für das Formular und die Tabelle */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
}

/* Neues Projektformular */
#new-project-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

#new-project-container h2 {
    margin-bottom: 20px;
    color: #2b3a67;
}

#new-project-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

#new-project-form label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

#new-project-form input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #f9f9f9;
}

#new-project-form textarea {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #f9f9f9;

    height: 80px;
}
#new-project-form button {
    grid-column: span 2;
    padding: 12px;
    background-color: #4a90e2; /* Helles Blau */
    color: white;
    border: none;
    border-radius: 20px; /* Runde Ecken */
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Hinzufügen von Transform */
}

#new-project-form button:hover {
    background-color: #357ab8; /* Dunkleres Blau beim Hover */
    transform: scale(1.05); /* Leichte Vergrößerung beim Hover */
}

/* Bearbeitungsformular für das Projekt */
#edit-input-project-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

#edit-input-project-container h2 {
    margin-bottom: 20px;
    color: #2b3a67;
}

#edit-project-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}


#edit-project-form label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

#edit-project-form input,
#edit-project-form textarea {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #f9f9f9;
}

#edit-project-form textarea {
    height: 80px;
}

#edit-project-form button {
    grid-column: span 2;
    padding: 12px;
    background-color: #2b3a67;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#edit-project-form button:hover {
    background-color: #415e9c;
}

/* Table styling */
#project-table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
}

#project-table th,
#project-table td {
    padding: 15px 10px;
    text-align: left;
    border-bottom: 1px solid #eee;
}

#project-table th {
    background-color: #2b3a67;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9rem;
}

#project-table td {
    font-size: 0.9rem;
    color: #555;
}

#project-table #project-progress .progress-bar {
    background-color: #f0f0f0;
    border-radius: 5px;
    height: 20px;
    width: 100%;
    margin-top: 5px;
    overflow: hidden;
}

#project-table #project-progress .progress {
    height: 100%;
    background-color: #2b3a67;
    border-radius: 5px 0 0 5px;
}

#project-table #project-developers .developer-profile {
    display: inline-block;
    text-align: center;
    margin-right: 10px;
    font-size: 0.85rem;
    color: #333;
}

#project-table #project-developers img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 5px;
    border: 2px solid #2b3a67;
}

#project-table a.btn-details {
    background-color: #2b3a67;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 0.85rem;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

#project-table a.btn-details:hover {
    background-color: #415e9c;
}

#footer {
    background-color: #2b3a67;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: absolute;
    /* Wechsel von relativ zu absolut */
    bottom: 0;
    width: 100%;
}

body {
    position: relative;
    /* Stellt sicher, dass der Footer relativ zum Body positioniert ist */
    min-height: 100vh;
    /* Stellt sicher, dass der Body mindestens die Höhe des Viewports einnimmt */
}

#footer p {
    margin: 0;
    font-size: 0.85rem;
}