/* Allgemeine Stile für beide Seiten */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    min-height: 100vh; /* Vollbildhöhe für Zentrierung */
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    width: 100%;
    position: sticky;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}

/* Container für das Formular */
.add-task-form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px; /* Begrenzte Breite des Formulars */
    text-align: center;
    margin-top: 20px; /* Abstand nach oben */
}

.add-task-form h2 {
    margin-bottom: 20px;
}

/* Formular-Stile */
.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 16px;
}

textarea {
    resize: vertical;
}

button[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

/* Zusätzliche Stile für die Task-Details Seite */
.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.column {
    flex: 1;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.column h2 {
    text-align: center;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    margin: 0 -10px 20px;
}

.add-task-button {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.add-task-button button {
    padding: 15px 30px;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.add-task-button button:hover {
    background-color: #45a049;
}

/* Kommentarstile */
.comments-section {
    margin-top: 20px;
}

.comments-section h2 {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.comment {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

/* Ergebnisdarstellung */
.result {
    margin-top: 20px;
    font-size: 1.2em;
}
